<!DOCTYPE html>
<html>
<head>
    <title>{% if pageTitle is defined %}{{ pageTitle }}{% else %}Arion CRM{% endif %}</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <!-- Bootstrap -->
    
    <link href="{{ asset('assets/arion/css/bootstrap.min.css') }}" rel="stylesheet" />
    <link href="{{ asset('assets/arion/css/bootstrap-toggle.min.css') }}" rel="stylesheet" />
    <link href="{{ asset('assets/arion/css/arion.css?cachebust=2018-01-11') }}" rel="stylesheet" />
    <link href="{{ asset('assets/quill/quill.base.css') }}" rel="stylesheet" />
    <link href="{{ asset('assets/quill/quill.snow.css') }}" rel="stylesheet" />
    <link href="{{ asset('assets/quill/advanced.css') }}" rel="stylesheet" />
    <link href="{{ asset('assets/ui/styles/kendo.common-bootstrap.min.css') }}" rel="stylesheet" />
    <link href="{{ asset('assets/ui/styles/kendo.bootstrap.min.css') }}" rel="stylesheet" />
    {# <link href="{{ asset('assets/ui/styles/kendo.common-material.min.css') }}" rel="stylesheet" />
    <link href="{{ asset('assets/ui/styles/kendo.material.min.css') }}" rel="stylesheet" /> #}

    <!--<script src="{{ asset('assets/ui/js/jquery.min.js') }}"></script>-->
    <script src="{{ asset('assets/arion/js/jquery.js') }}"></script>
    <script src="{{ asset('assets/arion/js/jquery.form.min.js') }}"></script>
    <script src="{{ asset('assets/arion/js/bootstrap.min.js') }}"></script>
    <script src="{{ asset('assets/arion/js/bootstrap-toggle.min.js') }}"></script>
    <script src="{{ asset('assets/arion/js/main.js?cachebust=2018-01-11') }}"></script>
    <script src="{{ asset('assets/ui/js/kendo.all.min.js') }}"></script>

    <script src="{{ asset('assets/quill/quill.js') }}"></script>

    <!--
    <link href="{{ asset('assets/arion/css/font-awesome.css') }}" rel="stylesheet" />
    <link href="//netdna.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap.min.css" rel="stylesheet">
    <link href="//netdna.bootstrapcdn.com/font-awesome/3.2.1/css/font-awesome.css" rel="stylesheet" />
    -->
    <link href="//fonts.googleapis.com/css?family=Abel|Open+Sans:400,600" rel="stylesheet" />

    <link rel="apple-touch-icon" sizes="57x57" href="/apple-touch-icon-57x57.png">
    <link rel="apple-touch-icon" sizes="60x60" href="/apple-touch-icon-60x60.png">
    <link rel="apple-touch-icon" sizes="72x72" href="/apple-touch-icon-72x72.png">
    <link rel="apple-touch-icon" sizes="76x76" href="/apple-touch-icon-76x76.png">
    <link rel="apple-touch-icon" sizes="114x114" href="/apple-touch-icon-114x114.png">
    <link rel="apple-touch-icon" sizes="120x120" href="/apple-touch-icon-120x120.png">
    <link rel="apple-touch-icon" sizes="144x144" href="/apple-touch-icon-144x144.png">
    <link rel="apple-touch-icon" sizes="152x152" href="/apple-touch-icon-152x152.png">
    <link rel="apple-touch-icon" sizes="180x180" href="/apple-touch-icon-180x180.png">
    <link rel="icon" type="image/png" href="/favicon-32x32.png" sizes="32x32">
    <link rel="icon" type="image/png" href="/android-chrome-192x192.png" sizes="192x192">
    <link rel="icon" type="image/png" href="/favicon-96x96.png" sizes="96x96">
    <link rel="icon" type="image/png" href="/favicon-16x16.png" sizes="16x16">
    <link rel="manifest" href="/manifest.json">
    <link rel="mask-icon" href="/safari-pinned-tab.svg" color="#5bbad5">
    <meta name="apple-mobile-web-app-title" content="MetaSushi Arion">
    <meta name="application-name" content="MetaSushi Arion">
    <meta name="msapplication-TileColor" content="#da532c">
    <meta name="msapplication-TileImage" content="/mstile-144x144.png">
    <meta name="theme-color" content="#ffffff">

    {% block base_head %}{% endblock %}    

</head>
<body class="{% block base_body_class %}{% endblock %}">
<!-- BASE -->
{% block base_content %}{% endblock %}
<div id="userSettingsModal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="gridSystemModalLabel"></div>
</body>
</html>
