{% if filterMode %}
    <label>{{ field.option('filterLabel', field.name) }}</label>
{% endif %}
<select name="{{ fieldName }}" class="form-control">
	<option value="">{{ noneLabel }}</option>
	{% for id, itemTitle in itemOptions %}
		<option value="{{ id }}" {% if value == id %}selected="selected"{% endif %}>{{ id }}: {{ itemTitle }}</option>
	{% endfor %}
</select>
